@model SwiftCarRental.Models.VehicleSearchViewModel
@{
    ViewData["Title"] = "Search Results";
}

<div class="container">
    @foreach (var car in Model.AvailableVehicles)
    {
        <div class="car-box">
            <div class="car-image">

                <img src="@Url.Content("~/images/cars/" + car.LicensePlate +".jpg")" alt="Car Image" />
            </div>
            <div class="car-details">
                <p>Model: @car.Model</p>
                <p>Brand: @car.Brand</p>
                <p>Year: @car.ModelYear</p>
                <p>Type: @car.Type</p>
                <p>Odometer: @car.Odometer</p>
                <p>Seats: @car.NoOfSeats</p>
                <p>Price: @GetPrice(car.PricePerHour, Model.numberOfHours) $</p>
                <div class="book-button-container">
                    @using (Html.BeginForm("Create", "Bookings", FormMethod.Get))
                    {
                        @Html.Hidden("VehicleId", car.Id)
                        @Html.Hidden("FromDate", Model.fromDate)
                        @Html.Hidden("ToDate", Model.toDate)
                        <input type="submit" value="Book" class="btn btn-primary btn-book" />
                    }
                </div>
            </div>
        </div>
    }
</div>

<style>
    .book-button-container {
        display: inline-block;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }
</style>

@functions {
    public decimal GetPrice(decimal? pricePerHour, int hours)
    {
        return (pricePerHour ?? 0) * hours;
    }
}
